In [1]:
import pandas as pd
import numpy as np

from sklearn.metrics import roc_auc_score
from sklearn.model_selection import KFold

from lightgbm import LGBMClassifier
import gc

In [2]:
train = pd.read_csv('./data/application_train.csv')
test = pd.read_csv('./data/application_test.csv')
bureau = pd.read_csv('./data/bureau.csv')

In [3]:
train.describe()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,307511.000000,307511.000000,307511.000000,3.075110e+05,3.075110e+05,307499.000000,3.072330e+05,307511.000000,307511.000000,307511.000000,...,307511.000000,307511.000000,307511.000000,307511.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000
mean,278180.518577,0.080729,0.417052,1.687979e+05,5.990260e+05,27108.573909,5.383962e+05,0.020868,-16036.995067,63815.045904,...,0.008130,0.000595,0.000507,0.000335,0.006402,0.007000,0.034362,0.267395,0.265474,1.899974
std,102790.175348,0.272419,0.722121,2.371231e+05,4.024908e+05,14493.737315,3.694465e+05,0.013831,4363.988632,141275.766519,...,0.089798,0.024387,0.022518,0.018299,0.083849,0.110757,0.204685,0.916002,0.794056,1.869295
min,100002.000000,0.000000,0.000000,2.565000e+04,4.500000e+04,1615.500000,4.050000e+04,0.000290,-25229.000000,-17912.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,189145.500000,0.000000,0.000000,1.125000e+05,2.700000e+05,16524.000000,2.385000e+05,0.010006,-19682.000000,-2760.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,278202.000000,0.000000,0.000000,1.471500e+05,5.135310e+05,24903.000000,4.500000e+05,0.018850,-15750.000000,-1213.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,367142.500000,0.000000,1.000000,2.025000e+05,8.086500e+05,34596.000000,6.795000e+05,0.028663,-12413.000000,-289.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,456255.000000,1.000000,19.000000,1.170000e+08,4.050000e+06,258025.500000,4.050000e+06,0.072508,-7489.000000,365243.000000,...,1.000000,1.000000,1.000000,1.000000,4.000000,9.000000,8.000000,27.000000,261.000000,25.000000

In [4]:
bureau.describe()

,SK_ID_CURR,SK_ID_BUREAU,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
count,1.716428e+06,1.716428e+06,1.716428e+06,1.716428e+06,1.610875e+06,1.082775e+06,5.919400e+05,1.716428e+06,1.716415e+06,1.458759e+06,1.124648e+06,1.716428e+06,1.716428e+06,4.896370e+05
mean,2.782149e+05,5.924434e+06,-1.142108e+03,8.181666e-01,5.105174e+02,-1.017437e+03,3.825418e+03,6.410406e-03,3.549946e+05,1.370851e+05,6.229515e+03,3.791276e+01,-5.937483e+02,1.571276e+04
std,1.029386e+05,5.322657e+05,7.951649e+02,3.654443e+01,4.994220e+03,7.140106e+02,2.060316e+05,9.622391e-02,1.149811e+06,6.774011e+05,4.503203e+04,5.937650e+03,7.207473e+02,3.258269e+05
min,1.000010e+05,5.000000e+06,-2.922000e+03,0.000000e+00,-4.206000e+04,-4.202300e+04,0.000000e+00,0.000000e+00,0.000000e+00,-4.705600e+06,-5.864061e+05,0.000000e+00,-4.194700e+04,0.000000e+00
25%,1.888668e+05,5.463954e+06,-1.666000e+03,0.000000e+00,-1.138000e+03,-1.489000e+03,0.000000e+00,0.000000e+00,5.130000e+04,0.000000e+00,0.000000e+00,0.000000e+00,-9.080000e+02,0.000000e+00
50%,2.780550e+05,5.926304e+06,-9.870000e+02,0.000000e+00,-3.300000e+02,-8.970000e+02,0.000000e+00,0.000000e+00,1.255185e+05,0.000000e+00,0.000000e+00,0.000000e+00,-3.950000e+02,0.000000e+00
75%,3.674260e+05,6.385681e+06,-4.740000e+02,0.000000e+00,4.740000e+02,-4.250000e+02,0.000000e+00,0.000000e+00,3.150000e+05,4.015350e+04,0.000000e+00,0.000000e+00,-3.300000e+01,1.350000e+04
max,4.562550e+05,6.843457e+06,0.000000e+00,2.792000e+03,3.119900e+04,0.000000e+00,1.159872e+08,9.000000e+00,5.850000e+08,1.701000e+08,4.705600e+06,3.756681e+06,3.720000e+02,1.184534e+08

In [5]:
#TODO: join the other data sets for more possible 
def rename_matching_columns():
    bureau.rename(index=str, columns={"AMT_ANNUITY": "AMT_ANNUITY_BUREAU"}, inplace=True)
    
def join_data_sets():
    train.join(bureau.set_index('SK_ID_CURR'), on='SK_ID_CURR')
    test.join(bureau.set_index('SK_ID_CURR'), on='SK_ID_CURR')

In [6]:
rename_matching_columns()
bureau.describe()

,SK_ID_CURR,SK_ID_BUREAU,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,DAYS_CREDIT_UPDATE,AMT_ANNUITY_BUREAU
count,1.716428e+06,1.716428e+06,1.716428e+06,1.716428e+06,1.610875e+06,1.082775e+06,5.919400e+05,1.716428e+06,1.716415e+06,1.458759e+06,1.124648e+06,1.716428e+06,1.716428e+06,4.896370e+05
mean,2.782149e+05,5.924434e+06,-1.142108e+03,8.181666e-01,5.105174e+02,-1.017437e+03,3.825418e+03,6.410406e-03,3.549946e+05,1.370851e+05,6.229515e+03,3.791276e+01,-5.937483e+02,1.571276e+04
std,1.029386e+05,5.322657e+05,7.951649e+02,3.654443e+01,4.994220e+03,7.140106e+02,2.060316e+05,9.622391e-02,1.149811e+06,6.774011e+05,4.503203e+04,5.937650e+03,7.207473e+02,3.258269e+05
min,1.000010e+05,5.000000e+06,-2.922000e+03,0.000000e+00,-4.206000e+04,-4.202300e+04,0.000000e+00,0.000000e+00,0.000000e+00,-4.705600e+06,-5.864061e+05,0.000000e+00,-4.194700e+04,0.000000e+00
25%,1.888668e+05,5.463954e+06,-1.666000e+03,0.000000e+00,-1.138000e+03,-1.489000e+03,0.000000e+00,0.000000e+00,5.130000e+04,0.000000e+00,0.000000e+00,0.000000e+00,-9.080000e+02,0.000000e+00
50%,2.780550e+05,5.926304e+06,-9.870000e+02,0.000000e+00,-3.300000e+02,-8.970000e+02,0.000000e+00,0.000000e+00,1.255185e+05,0.000000e+00,0.000000e+00,0.000000e+00,-3.950000e+02,0.000000e+00
75%,3.674260e+05,6.385681e+06,-4.740000e+02,0.000000e+00,4.740000e+02,-4.250000e+02,0.000000e+00,0.000000e+00,3.150000e+05,4.015350e+04,0.000000e+00,0.000000e+00,-3.300000e+01,1.350000e+04
max,4.562550e+05,6.843457e+06,0.000000e+00,2.792000e+03,3.119900e+04,0.000000e+00,1.159872e+08,9.000000e+00,5.850000e+08,1.701000e+08,4.705600e+06,3.756681e+06,3.720000e+02,1.184534e+08

In [7]:
join_data_sets()

In [8]:
train.describe()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,307511.000000,307511.000000,307511.000000,3.075110e+05,3.075110e+05,307499.000000,3.072330e+05,307511.000000,307511.000000,307511.000000,...,307511.000000,307511.000000,307511.000000,307511.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000
mean,278180.518577,0.080729,0.417052,1.687979e+05,5.990260e+05,27108.573909,5.383962e+05,0.020868,-16036.995067,63815.045904,...,0.008130,0.000595,0.000507,0.000335,0.006402,0.007000,0.034362,0.267395,0.265474,1.899974
std,102790.175348,0.272419,0.722121,2.371231e+05,4.024908e+05,14493.737315,3.694465e+05,0.013831,4363.988632,141275.766519,...,0.089798,0.024387,0.022518,0.018299,0.083849,0.110757,0.204685,0.916002,0.794056,1.869295
min,100002.000000,0.000000,0.000000,2.565000e+04,4.500000e+04,1615.500000,4.050000e+04,0.000290,-25229.000000,-17912.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,189145.500000,0.000000,0.000000,1.125000e+05,2.700000e+05,16524.000000,2.385000e+05,0.010006,-19682.000000,-2760.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,278202.000000,0.000000,0.000000,1.471500e+05,5.135310e+05,24903.000000,4.500000e+05,0.018850,-15750.000000,-1213.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,367142.500000,0.000000,1.000000,2.025000e+05,8.086500e+05,34596.000000,6.795000e+05,0.028663,-12413.000000,-289.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,456255.000000,1.000000,19.000000,1.170000e+08,4.050000e+06,258025.500000,4.050000e+06,0.072508,-7489.000000,365243.000000,...,1.000000,1.000000,1.000000,1.000000,4.000000,9.000000,8.000000,27.000000,261.000000,25.000000

In [9]:
def get_categorical_variables(dataframe):
    return [feature for feature in dataframe.columns if dataframe[feature].dtype == 'object']

In [10]:
def encode_categorical_variables(train, test):
    categorical_features = get_categorical_variables(train)
    for feature in categorical_features:
        train[feature], indexer = pd.factorize(train[feature])
        test[feature] = indexer.get_indexer(test[feature])

In [11]:
encode_categorical_variables(train, test)
gc.enable()

In [12]:
# select features and target
#TODO, scale the values!
Y = train['TARGET']
X_train = train.drop(['TARGET'],1)


excluded_feats = ['SK_ID_CURR']
features = [feature for feature in X_train.columns if feature not in excluded_feats]

In [13]:
def get_classifier():
    return LGBMClassifier(
        n_estimators=500,
        num_leaves=15,
        colsample_bytree=.8,
        subsample=.8,
        max_depth=7,
        reg_alpha=.1,
        reg_lambda=.1,
        min_split_gain=.01
    )

In [20]:
def train_classifier(classifier):
    folds = KFold(n_splits=5, shuffle=True)

    oof_preds = np.zeros(X_train.shape[0])
    sub_preds = np.zeros(test.shape[0])

    for n_fold, (trn_idx, val_idx) in enumerate(folds.split(X_train)):
        trn_x, trn_y = X_train[features].iloc[trn_idx], Y.iloc[trn_idx]
        val_x, val_y = X_train[features].iloc[val_idx], Y.iloc[val_idx]
    
    
        classifier.fit(trn_x, trn_y, 
            eval_set= [(trn_x, trn_y), (val_x, val_y)], 
            eval_metric='auc', verbose=10, early_stopping_rounds=30
           )
    
        oof_preds[val_idx] = classifier.predict_proba(val_x, num_iteration=classifier.best_iteration_)[:, 1]
    
        sub_preds += classifier.predict_proba(test[features], num_iteration=classifier.best_iteration_)[:, 1] / folds.n_splits
    
        print(f'Fold {n_fold+1} AUC : {roc_auc_score(val_y, oof_preds[val_idx])}')
        del trn_x, trn_y, val_x, val_y
        gc.collect()
        
    return oof_preds, sub_preds

In [21]:
# Train LGBM classifier

#TODO: trim this down and implement gridsearch
classifier = get_classifier()
oof_preds, sub_preds = train_classifier(classifier)

Training until validation scores don't improve for 30 rounds.
[10]	training's auc: 0.726476	valid_1's auc: 0.716532
[20]	training's auc: 0.732655	valid_1's auc: 0.721849
[30]	training's auc: 0.741691	valid_1's auc: 0.729073
[40]	training's auc: 0.749225	valid_1's auc: 0.735108
[50]	training's auc: 0.755916	valid_1's auc: 0.740036
[60]	training's auc: 0.76109	valid_1's auc: 0.743734
[70]	training's auc: 0.764352	valid_1's auc: 0.745262
[80]	training's auc: 0.767402	valid_1's auc: 0.746652
[90]	training's auc: 0.769926	valid_1's auc: 0.748051
[100]	training's auc: 0.772541	valid_1's auc: 0.748497
[110]	training's auc: 0.775217	valid_1's auc: 0.749369
[120]	training's auc: 0.777415	valid_1's auc: 0.749606
[130]	training's auc: 0.779624	valid_1's auc: 0.749955
[140]	training's auc: 0.781737	valid_1's auc: 0.750241
[150]	training's auc: 0.783793	valid_1's auc: 0.750289
[160]	training's auc: 0.785843	valid_1's auc: 0.750601
[170]	training's auc: 0.787974	valid_1's auc: 0.750418
[180]	training's auc: 0.790117	valid_1's auc: 0.750433
[190]	training's auc: 0.791811	valid_1's auc: 0.750523
[200]	training's auc: 0.793472	valid_1's auc: 0.75066
[210]	training's auc: 0.795055	valid_1's auc: 0.750567
[220]	training's auc: 0.796811	valid_1's auc: 0.75072
[230]	training's auc: 0.798521	valid_1's auc: 0.750499
[240]	training's auc: 0.800191	valid_1's auc: 0.750424
Early stopping, best iteration is:
[218]	training's auc: 0.796505	valid_1's auc: 0.750767
Fold 1 AUC : 0.7507669026327047
Training until validation scores don't improve for 30 rounds.
[10]	training's auc: 0.725538	valid_1's auc: 0.717313
[20]	training's auc: 0.734841	valid_1's auc: 0.725467
[30]	training's auc: 0.740816	valid_1's auc: 0.730396
[40]	training's auc: 0.748456	valid_1's auc: 0.737066
[50]	training's auc: 0.75499	valid_1's auc: 0.742962
[60]	training's auc: 0.759319	valid_1's auc: 0.746561
[70]	training's auc: 0.763025	valid_1's auc: 0.749002
[80]	training's auc: 0.766099	valid_1's auc: 0.750777
[90]	training's auc: 0.768933	valid_1's auc: 0.752279
[100]	training's auc: 0.771359	valid_1's auc: 0.75305
[110]	training's auc: 0.773696	valid_1's auc: 0.753273
[120]	training's auc: 0.775979	valid_1's auc: 0.75377
[130]	training's auc: 0.777946	valid_1's auc: 0.753738
[140]	training's auc: 0.779914	valid_1's auc: 0.7539
[150]	training's auc: 0.781985	valid_1's auc: 0.754221
[160]	training's auc: 0.784065	valid_1's auc: 0.754307
[170]	training's auc: 0.78591	valid_1's auc: 0.754387
[180]	training's auc: 0.787979	valid_1's auc: 0.754651
[190]	training's auc: 0.789877	valid_1's auc: 0.754488
[200]	training's auc: 0.79158	valid_1's auc: 0.754725
[210]	training's auc: 0.793244	valid_1's auc: 0.755015
[220]	training's auc: 0.795406	valid_1's auc: 0.754888
[230]	training's auc: 0.797249	valid_1's auc: 0.754747
[240]	training's auc: 0.798918	valid_1's auc: 0.755001
Early stopping, best iteration is:
[212]	training's auc: 0.793677	valid_1's auc: 0.755047
Fold 2 AUC : 0.7550472756161528
Training until validation scores don't improve for 30 rounds.
[10]	training's auc: 0.727087	valid_1's auc: 0.722101
[20]	training's auc: 0.73367	valid_1's auc: 0.728465
[30]	training's auc: 0.739585	valid_1's auc: 0.733904
[40]	training's auc: 0.747691	valid_1's auc: 0.740742
[50]	training's auc: 0.754242	valid_1's auc: 0.746603
[60]	training's auc: 0.758991	valid_1's auc: 0.750138
[70]	training's auc: 0.762535	valid_1's auc: 0.75254
[80]	training's auc: 0.765393	valid_1's auc: 0.753811
[90]	training's auc: 0.768057	valid_1's auc: 0.755252
[100]	training's auc: 0.770632	valid_1's auc: 0.756258
[110]	training's auc: 0.772834	valid_1's auc: 0.757002
[120]	training's auc: 0.775031	valid_1's auc: 0.757127
[130]	training's auc: 0.77719	valid_1's auc: 0.757549
[140]	training's auc: 0.779009	valid_1's auc: 0.757534
[150]	training's auc: 0.781047	valid_1's auc: 0.757679
[160]	training's auc: 0.783015	valid_1's auc: 0.758158
[170]	training's auc: 0.785183	valid_1's auc: 0.758434
[180]	training's auc: 0.787368	valid_1's auc: 0.758486
[190]	training's auc: 0.789187	valid_1's auc: 0.758814
[200]	training's auc: 0.791116	valid_1's auc: 0.759108
[210]	training's auc: 0.792816	valid_1's auc: 0.75922
[220]	training's auc: 0.794729	valid_1's auc: 0.759171
[230]	training's auc: 0.796471	valid_1's auc: 0.759196
[240]	training's auc: 0.798273	valid_1's auc: 0.759047
[250]	training's auc: 0.799987	valid_1's auc: 0.758933
[260]	training's auc: 0.801596	valid_1's auc: 0.758981
Early stopping, best iteration is:
[233]	training's auc: 0.796997	valid_1's auc: 0.759243
Fold 3 AUC : 0.7592428292180067
Training until validation scores don't improve for 30 rounds.
[10]	training's auc: 0.723067	valid_1's auc: 0.730789
[20]	training's auc: 0.731107	valid_1's auc: 0.737986
[30]	training's auc: 0.738027	valid_1's auc: 0.743005
[40]	training's auc: 0.746234	valid_1's auc: 0.749557
[50]	training's auc: 0.752479	valid_1's auc: 0.754366
[60]	training's auc: 0.757344	valid_1's auc: 0.757817
[70]	training's auc: 0.761129	valid_1's auc: 0.760064
[80]	training's auc: 0.764377	valid_1's auc: 0.761584
[90]	training's auc: 0.766921	valid_1's auc: 0.762591
[100]	training's auc: 0.769672	valid_1's auc: 0.763266
[110]	training's auc: 0.77215	valid_1's auc: 0.763663
[120]	training's auc: 0.77425	valid_1's auc: 0.763851
[130]	training's auc: 0.776665	valid_1's auc: 0.764046
[140]	training's auc: 0.778854	valid_1's auc: 0.764126
[150]	training's auc: 0.780957	valid_1's auc: 0.764454
[160]	training's auc: 0.783262	valid_1's auc: 0.764265
[170]	training's auc: 0.78515	valid_1's auc: 0.76424
Early stopping, best iteration is:
[148]	training's auc: 0.780536	valid_1's auc: 0.76446
Fold 4 AUC : 0.7644600272400621
Training until validation scores don't improve for 30 rounds.
[10]	training's auc: 0.726909	valid_1's auc: 0.724893
[20]	training's auc: 0.733492	valid_1's auc: 0.730047
[30]	training's auc: 0.739396	valid_1's auc: 0.735448
[40]	training's auc: 0.747068	valid_1's auc: 0.741499
[50]	training's auc: 0.754036	valid_1's auc: 0.747665
[60]	training's auc: 0.758737	valid_1's auc: 0.751029
[70]	training's auc: 0.76258	valid_1's auc: 0.75344
[80]	training's auc: 0.765501	valid_1's auc: 0.754745
[90]	training's auc: 0.768377	valid_1's auc: 0.755817
[100]	training's auc: 0.77085	valid_1's auc: 0.756537
[110]	training's auc: 0.773083	valid_1's auc: 0.756473
[120]	training's auc: 0.775148	valid_1's auc: 0.756998
[130]	training's auc: 0.777368	valid_1's auc: 0.757421
[140]	training's auc: 0.779635	valid_1's auc: 0.757787
[150]	training's auc: 0.781726	valid_1's auc: 0.758248
[160]	training's auc: 0.78385	valid_1's auc: 0.758243
[170]	training's auc: 0.785705	valid_1's auc: 0.758236
[180]	training's auc: 0.787576	valid_1's auc: 0.758481
[190]	training's auc: 0.789521	valid_1's auc: 0.758553
[200]	training's auc: 0.791386	valid_1's auc: 0.758507
[210]	training's auc: 0.793112	valid_1's auc: 0.758328
Early stopping, best iteration is:
[186]	training's auc: 0.788919	valid_1's auc: 0.758679
Fold 5 AUC : 0.7586790791616271

In [22]:
print(f'Full AUC score {roc_auc_score(Y, oof_preds)}')

Full AUC score 0.757539038382621

In [25]:
def create_submission(test_df, predictions, file_name):
    test_df['TARGET'] = predictions
    test_df[['SK_ID_CURR', 'TARGET']].to_csv(f'{file_name}.csv', index=False, float_format='%.8f')

In [26]:
create_submission(test, sub_preds, 'new_submission')